<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%=site_title%></title>

  <!-- PRODUCTION READY -->
  <!-- JS -->
  <!-- To deploy in production (all JS in one file) -->
  <!--script type="text/javascript" src="/assets/js/require.min.js"></script>
  <script type="text/javascript" src="/assets/js/built.js"></script-->
  <!-- To work in development (for debug) -->
  <script type="text/javascript" src="/assets/js/require_config.js"></script>
  <script type="text/javascript" src="/assets/js/require.min.js"></script>
  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="/css/style-public.css">
  <!-- /PRODUCTION READY -->

  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700,800,900,400,300">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800">

  <!-- Head Libs -->
  <!--script src="assets/plugins/modernizr.custom.js"></script-->

  <!--[if lt IE 9]>
  <script src="assets/plugins/iesupport/html5shiv.js"></script>
  <script src="assets/plugins/iesupport/respond.min.js"></script>
  <![endif]-->

  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body id="home" class="wide">
<!-- WRAPPER -->
<div class="wrapper">

  <%= partial :loader %>

  <!-- HEADER -->
  <header class="header fixed">
    <div class="header-wrapper">
      <div class="container">

        <!-- Logo -->
        <div class="logo">
          <a href="/"><img src="<%=site_logo%>" alt="<%=site_title%>"/></a>
        </div>
        <!-- /Logo -->

        <!-- Mobile menu toggle button -->
        <a href="#" class="menu-toggle btn ripple-effect btn-theme-transparent"><i class="fa fa-bars"></i></a>
        <!-- /Mobile menu toggle button -->

        <!-- Navigation -->
        <nav class="navigation closed clearfix">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- navigation menu -->
              <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
              <ul class="nav sf-menu">
                <li><a href='/<%="?lang=#{session[:locale]}"%>'>Inicio</a>
                </li>
                <li><a href='/condiciones<%="?lang=#{session[:locale]}"%>'>Condiciones</a></li>
                <li class="active"><a href='/contacto<%="?lang=#{session[:locale]}"%>'>Contacto</a></li>
              </ul>
              <!-- /navigation menu -->
            </div>
          </div>
          <!-- Add Scroll Bar -->
          <div class="swiper-scrollbar"></div>
        </nav>
        <!-- /Navigation -->

      </div>
    </div>
  </header>
  <!-- /HEADER -->

  <!-- CONTENT AREA -->
  <div class="content-area">


    <!-- BREADCRUMBS -->
    <% unless page.title.nil? || page.title.empty? %>
        <section class="page-section breadcrumbs text-center">
          <div class="container">
            <div class="page-header">
              <h1><%=page.title%></h1>
            </div>
          </div>
        </section>
    <% end %>
    <!-- /BREADCRUMBS -->

    <!-- PAGE : Booking selector -->
    <% if (page.variables.has_key?(:booking_selector) and not page.variables[:booking_selector].empty?) %>
        <section class="booking-selector page-section dark">
          <div class="container full-width">
            <%= page.variables[:booking_selector] %>
          </div>
        </section>
    <% end %>

    <!-- PAGE -->
    <section class="page-section">
      <div class="container full-width">

        <%= partial :flash_messages %>
        <%= yield %>

      </div>
    </section>

  </div>
  <!-- /CONTENT AREA -->

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer-meta">
      <div class="container">
        <div class="row">

          <div class="col-sm-12">
            <div class="copyright">&copy; 2017 mybooking</div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->

  <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

</div>
<!-- /WRAPPER -->

<!-- JS Page Level -->
<script src="/js/theme.js"></script>

<% if !page.scripts_source.nil? && !page.scripts_source.empty? %>
    <%= page.scripts_source %>
<% end %>

<script>
    function initMap() {
        var uluru = {lat: 39.9841, lng: 4.1133};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDrcnboUQqXVOyMGzPNsudyUkP552CkW4&callback=initMap">
</script>

</body>
</html>
